input{
    margin-left: 500px;
    width: 500px;
    border: none;
    margin-top: 10px;
    outline: none;
    border-bottom: solid;
}
.a{
    border: solid;
    border-radius: 100%;
    width: 200px;
}
a{
    text-decoration: none;
    margin-left: 625px;
}
p{
    margin-left: 500px;
}